{% extends 'base.html.twig' %}
{% block title %}Ajouter une annonce!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 mb-1">
                <h1 class="text-center">Ajouter une annonce</h1>
            </div>
            <div class="col-12 col-sm12 col-md-6 col-lg-4 col-xl-3">
                <div class="espacepub text-center shadow w-100"> {% include "/default/publicite.html.twig" %}</div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-1">
        </div>
        <div class="br-1 overflow-auto">
            <div class="container-fluid blob w-100 h-auto p-2 shadow">
                <div class="container w-75 align-items-center">
                    <div class="form__wrapper p-4">
                        {{ form_start(form) }}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>
                        <div class="container">
                            <div class="col-8 bgcolor-secondary catcolor px-1 rounded-top">Votre produit</div>
                            <div class="border border-warning px-1 bgcolor-secondary">
                                <div class="row">
                                    <div class="col">{{ form_row(form.produit) }}</div>
                                    <div class="col">{{ form_row(form.categorie) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ form_row(form.prix) }}</div>
                                    <div class="col">{{ form_row(form.description) }}</div>
                                </div>
                            </div>
                            <br>
                            <div class="col-8 bgcolor-secondary catcolor px-1 rounded-top">Les caractéristiques</div>
                            <div class="border border-warning px-1 bgcolor-secondary">
                                <div class="col">{{ form_row(form.commentaires) }}</div>
                                <div class="col">{{ form_row(form.couleur) }}</div>
                                <div class="row">
                                    <div class="col">{{ form_row(form.poids) }}</div>
                                    <div class="col">{{ form_row(form.hauteur) }}</div>
                                    <div class="col">{{ form_row(form.largeur) }}</div>
                                    <div class="col">{{ form_row(form.profondeur) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ form_row(form.dimensions) }}</div>
                                </div>
                            </div>
                            <br>
                            <div class="col-8 bgcolor-secondary catcolor px-1 rounded-top">Visuellement</div>
                            <div class="border border-warning px-1 bgcolor-secondary">
                                <div class="row">
                                    <div class="col">{{ form_row(form.img) }}</div>
                                </div>
                                <div class="row">
                                    <div class="col">{{ form_row(form.image) }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">{{ form_end(form) }}</div>
                    </div>
                </div>
            </div>  </div>
    </div>

{% endblock %}

{% block javascript_footer %}
    <!-- coucou -->
{% endblock %}