{% extends 'base.html.twig' %}

{% block title %}Ajouter une annonce!{% endblock %}

{% block body %}

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            box-shadow: #6f42c1;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

    </style>
<div class="container">
    <div class="example-wrapper">
        <h1>Hello 🤖</h1>

        <div class="right-side">
            <ul class="list-unstyled m-0 p-0 d-flex">
                <li class="pr-2">ID : <a class="text-white" href="/profile">{{ app.user.id }}</a>&nbsp;/&nbsp; </li>
                <li class="pr-2">Prénom : <a class="text-white" href="/profile">{{ app.user.name }}</a>&nbsp;/&nbsp; </li>
                <li class="pr-2">Nom : <a class="text-white" href="/profile">{{ app.user.firstname }}</a>&nbsp;/&nbsp; </li>
                <li class="pr-2">E-mail : <a class="text-white" href="/profile">{{ app.user.email }}</a>&nbsp;/&nbsp; </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="pr-2"><a class="text-white" href="/admin">administration</a>&nbsp;/&nbsp; </li>
                {% endif %}
                <li class="pr-2"><a class="text-danger" href="{{ path('app.logout') }}">logout</a></li>
            </ul>
        </div>

        <div class="w-100">
            <div class="bg-warning text-black-50 p-4 m-4 rounded-2 shadow">
{#                {{ form(form) }}#}
                {{ form_start(form) }}
                <div class="bg-danger w-50">
                    {{ form_row(form.prix) }}
                </div>

                {{ form_row(form.commentaires) }}
                {{ form_row(form.description) }}
                {{ form_row(form.couleur) }}
                {{ form_row(form.poids) }}
                {{ form_row(form.hauteur) }}
                {{ form_row(form.largeur) }}
                {{ form_row(form.profondeur) }}
                {{ form_row(form.dimensions) }}
                {{ form_row(form.produit) }}
                {{ form_row(form.img) }}
                {{ form_row(form.categorie) }}
                {{ form_end(form) }}
            </div>

        </div>
    </div>
    <br>
    </div>
{% endblock %}


{% block javascript_footer %}
    <!-- coucou -->
{% endblock %}