{% extends 'base.html.twig' %}
{% block title %}Ajouter une annonce!{% endblock %}

{% block body %}

{#            <ul class="list-unstyled m-0 p-0 d-flex">#}
{#                <li class="pr-2">ID : <a class="text-info" href="/profile">{{ app.user.id }}</a>&nbsp;/&nbsp; </li>#}

{#                <li class="pr-2">Nom : <a class="text-info" href="/profile">{{ app.user.firstname }}</a>&nbsp;/&nbsp; </li>#}
{#                <li class="pr-2">E-mail : <a class="text-info" href="/profile">{{ app.user.email }}</a>&nbsp;/&nbsp; </li>#}
{#                {% if is_granted('ROLE_ADMIN') %}#}
{#                    <li class="pr-2"><a class="text-info" href="/admin">administration</a>&nbsp;/&nbsp; </li>#}
{#                {% endif %}#}
{#                <li class="pr-2"><a class="text-danger" href="{{ path('app.logout') }}">logout</a></li>#}
{#            </ul>#}
        <div class="row mx-3">
            <div class="espacepub col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 text-center">
                      {% include "/default/publicite.html.twig" %}
            </div>

            <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
        <div class="formtxtbgcolor h-100 w-100 p-4 bg-dark text-warning">
                {{ form(form) }}
    <br>
{% endblock %}

{% block javascript_footer %}
    <!-- coucou -->
{% endblock %}