{% extends 'base.html.twig' %}

{% block title %} Page des annonces {% endblock %}

{% block body %}
    <div class="container">
        <h1>Je suis l'annonce #{{ app.request.attributes.get('id') }}</h1>

        <div class="row">

            <div class="col-3">
                <div class="card border border-dark rounded-top shadow p-2">

                <div class="h5">Sponsorisé</div>
                <div class="marque">
                    {{ add.marque }}
                </div>
                <div class="produit">
                    {{ add.produit }}
                </div>
                <div class="categorie">
                    Categorie : {{ add.categorie }}
                </div>

                {% if add.img == false %}
                <div class="h4 txt bg-primary text-secondary text-center w-100" style="height: 150px; width: 150px;">
                    <div class="row"></div>
                    <div class="row">
                        {{ add.text }}
                    </div>
                    <div class="row"></div>
                </div>
                {% else %}
                    <div class="img text-center p-1">
                        <img class="fit-picture" src="{{ asset('img/' ~ add.img ) }}" width="150" height="150"
                             alt="{{ add.marque }}">
                    </div>
                {% endif %}

                </div>
            </div>
            <div class="col-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur.
            </div>
            <div class="col-3">
                <div class="h4">Vendeur</div>
                <div class="subtitle">
                    {{ seller.name }}
                </div>
                <div class="contact">
                    <div class="phone">
                        <a href="tel:{{ seller.tel }}">{{ seller.tel }}</a>
                    </div>
                    <div class="ville2">
                        Ville saisie par vendeur : {{ seller.city }}
                    </div>
                    <div class="ville">
                        {{ seller.city_data.cp }} {{ seller.city_data.city }}
                    </div>
                    <div class="population">
                        {{ seller.city_data.population }} habitants
                    </div>
                    <div class="region">
                        {{ seller.city_data.region }}
                    </div>
                    <div class="departement">
                        {{ seller.city_data.departement }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

