{% extends 'base.html.twig' %}

{% block title %}Création d'un compte{% endblock %}

{% block body %}


<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9 mb-1">
            <ul>
                <li>J'ai déjà un compte : <code> <a href="{{ path('app_compte') }}">Se connecter</a></code></li>
            </ul>
            <h1 class="text-center">Créer un compte</h1>
        </div>
        <div class="col-12 col-sm12 col-md-6 col-lg-4 col-xl-3">
            <div class="espacepub text-center shadow w-100"> {% include "/default/publicite.html.twig" %}</div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 order-1 order-sm-1 order-md-1 order-lg-1 order-xl-1">
    </div>
    <div class="br-1 overflow-auto">
        <div class="container-fluid blob w-100 h-auto p-2 shadow">
            <div class="container w-75 align-items-center">
                <div class="form__wrapper p-4">

                    {{ form_start(formCompte) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(formCompte) }}
                    </div>
                    <div class="container">
                        <div class="col-8 bgcolor-secondary catcolor px-1 rounded-top">Informations de contact</div>
                        <div class="border border-warning px-1 bgcolor-secondary">
                            <div class="row">
                                <div class="col">{{ form_row(formCompte.name) }}</div>
                                <div class="col">{{ form_row(formCompte.first_name) }}</div>
                            </div>
                            <div class="row">
                                <div class="col">{{ form_row(formCompte.email) }}</div>
                                <div class="col">{{ form_row(formCompte.tel) }}</div>
                            </div>
                        </div>
                        <br>
                        <div class="col-8 bgcolor-secondary catcolor px-1 rounded-top">Informations de livraison</div>
                        <div class="border border-warning px-1 bgcolor-secondary">
                            <div class="col">{{ form_row(formCompte.adress1) }}</div>
                            <div class="col">{{ form_row(formCompte.adress2) }}</div>
                            <div class="row">
                                <div class="col">{{ form_row(formCompte.code_postal) }}</div>
                                <div class="col">{{ form_row(formCompte.city) }}</div>
                            </div>
                        </div>
                        <br>
                        <div class="col-8 bgcolor-secondary catcolor px-1 rounded-top">Informations de sécurité</div>
                        <div class="border border-warning px-1 bgcolor-secondary">
                            <div class="row">
                                <div class="col">{{ form_row(formCompte.password) }}</div>
                                <div class="col">{{ form_row(formCompte.password2) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">{{ form_end(formCompte) }}</div>
                </div>
            </div>
        </div>
                </div>
            </div>

{% endblock %}


{% block javascript_footer %}
    <!-- coucou -->
{% endblock %}